<footer class="footer bg-dark">
    <div class="container-fluid text-center">
        <span class="text-muted text-light-emphasis">GoodBooks &copy 2023</span>
    </div>
</footer>
<style>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

</style>